/.vs/ProjectEvaluation/
/.vs/Hannibal/DesignTimeBuild/
/.vs/Hannibal/FileContentIndex/
/.vs/Hannibal/v17/.futdcache.v2
/.vs/Hannibal/v17/ipch
/Hannibal/bin/
/Hannibal/obj/
/Hannibal/Hannibal.csproj.user
